.lovable/workflow/Aether Labs - Multi-Agent E-commerce (4).json
{
  "name": "Aether Labs - Multi-Agent E-commerce",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aether-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "462cbaba-ac8b-44ba-b451-6af9d7aa27ce",
      "name": "Order Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "2738092e-8e5e-4023-9159-e53834337fb4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.userPreferences }}",
        "options": {
          "systemMessage": "=You are an elite Apple-level digital concierge specialist. Your role is to understand user preferences, budget, and lifestyle to recommend the PERFECT product.\n\nYou have access to:\n- Product Catalog Reader: Get available headphones and smartwatch variants\n- User Chat History: Retrieve past user interactions\n\nYour task:\n1. Use Product Catalog Reader to fetch all available products\n2. Use User Chat History to understand user preferences\n3. Analyze the user input: \"{{ $json.body.userPreferences }}\"\n4. Select the SINGLE BEST product match (return product ID, name, price, and brief justification)\n\nReturn ONLY a JSON object with this structure:\n{\n  \"productId\": \"HP-SPORT-01\",\n  \"productName\": \"AetherSound Sport\",\n  \"basePrice\": 199,\n  \"justification\": \"Perfect for gym use with sweat resistance and wireless design within budget\",\n  \"decision_note\": \"Analyzed customer preferences and recommended AetherSound Sport based on their active lifestyle and budget constraint. Handing off to Inventory Manager Agent.\",\n  \"handoff_target\": \"Inventory & Logistics Agent\"\n}\n\nDo NOT return anything else. Just the JSON object."
        }
      },
      "id": "3ab76f9a-4908-4291-93de-48cdc62f2c75",
      "name": "Sales & Personalization Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.3-70b-versatile",
          "mode": "list",
          "cachedResultName": "llama-3.3-70b-versatile"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "2e126c79-615d-4d2f-8c16-7e166c4d14d7",
      "name": "OpenAI GPT-5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "ufeKMLVWwafBxHQy",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "description": "Returns available product variants (headphones/smartwatch) with specs, features, and base prices based on user preferences",
        "jsCode": "// Simulated product catalog\nconst catalog = {\n  headphones: [\n    { id: 'HP-SPORT-01', name: 'AetherSound Sport', price: 199, features: 'Wireless, Noise Cancelling, 30hr battery, Sweat-resistant', category: 'gym' },\n    { id: 'HP-PRO-02', name: 'AetherSound Pro', price: 349, features: 'Premium ANC, Spatial Audio, 40hr battery, Luxury materials', category: 'premium' },\n    { id: 'HP-LITE-03', name: 'AetherSound Lite', price: 129, features: 'Wireless, 20hr battery, Compact design', category: 'budget' }\n  ],\n  smartwatch: [\n    { id: 'SW-FIT-01', name: 'AetherWatch Fitness', price: 299, features: 'Heart rate, GPS, 7-day battery, Fitness tracking', category: 'fitness' },\n    { id: 'SW-ULTRA-02', name: 'AetherWatch Ultra', price: 599, features: 'Advanced health sensors, Cellular, Titanium case, 10-day battery', category: 'premium' },\n    { id: 'SW-BASIC-03', name: 'AetherWatch Basic', price: 199, features: 'Step tracking, Notifications, 5-day battery', category: 'budget' }\n  ]\n};\n\n// Return catalog as JSON string\nreturn JSON.stringify(catalog, null, 2);"
      },
      "id": "e82b04a4-b25c-49a3-8acb-9641a7d04a67",
      "name": "Product Catalog Reader",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ]
    },
    {
      "parameters": {
        "description": "Retrieves past user interactions and preferences to personalize recommendations",
        "jsCode": "// Simulated user history\nconst userHistory = {\n  previousPurchases: ['AetherSound Lite (2023)'],\n  preferences: ['Prefers wireless', 'Active lifestyle', 'Budget-conscious'],\n  lastInteraction: '2024-01-15'\n};\n\nreturn JSON.stringify(userHistory, null, 2);"
      },
      "id": "feb2a6d9-91f1-4b11-a178-fbeb153360d9",
      "name": "User Chat History",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "product_id",
              "name": "productId",
              "value": "={{ JSON.parse($json.output).productId }}",
              "type": "string"
            },
            {
              "id": "product_name",
              "name": "productName",
              "value": "={{ JSON.parse($json.output).productName }}",
              "type": "string"
            },
            {
              "id": "base_price",
              "name": "basePrice",
              "value": "={{ JSON.parse($json.output).basePrice }}",
              "type": "number"
            },
            {
              "id": "justification",
              "name": "justification",
              "value": "={{ JSON.parse($json.output).justification }}",
              "type": "string"
            },
            {
              "id": "user_location",
              "name": "userLocation",
              "value": "={{ $('Order Request Webhook').item.json.body.userLocation }}",
              "type": "string"
            },
            {
              "id": "payment_token",
              "name": "paymentToken",
              "value": "={{ $('Order Request Webhook').item.json.body.paymentToken }}",
              "type": "string"
            },
            {
              "id": "3d72bc23-fe51-4ea8-b78b-daaa92df1d5b",
              "name": "decision_note",
              "value": "={{ JSON.parse($json.output).decision_note }}",
              "type": "string"
            },
            {
              "id": "61293138-40b8-4cbb-a196-f91a3c06094e",
              "name": "handoff_target",
              "value": "={{ JSON.parse($json.output).handoff_target }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5c43ef82-b6ff-4742-aabe-eb5d4d839bdc",
      "name": "Extract Sales Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product: {{ $json.productId }} ({{ $json.productName }}), Base Price: ${{ $json.basePrice }}, Location: {{ $json.userLocation }}",
        "options": {
          "systemMessage": "You are an autonomous enterprise operations manager with real-time access to inventory and logistics systems.\n\nYou have access to:\n- Supabase Inventory Query: Check product availability in database\n- Shipping Rate Calculator: Calculate shipping costs and ETA\n\nYour task:\n1. Query Supabase for product availability (use table \"products\" and filter by product_id from input)\n2. Calculate shipping cost for the user location\n3. Calculate total price (base price + shipping + estimated tax)\n4. Determine estimated delivery date\n\nReturn ONLY a JSON object:\n{\n  \"stockAvailable\": true,\n  \"quantity\": 15,\n  \"shippingCost\": 12.99,\n  \"taxEstimate\": 19.90,\n  \"totalPrice\": 231.89,\n  \"estimatedDelivery\": \"2024-02-15\",\n  \"decision_note\": \"Supabase inventory query confirmed product availability. Shipping rates and total costs have been calculated. Context is now being handed off to Security & Fraud Agent.\",\n  \"handoff_target\": \"Security & Fraud Agent\"\n}\n\nDo NOT return anything else."
        }
      },
      "id": "43a0990c-661f-4be2-be79-df253ef7994c",
      "name": "Inventory & Logistics Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "inventory_v2",
        "limit": 10,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('filter_value', 'Value to match (e.g., product ID from sales agent)') }}"
            }
          ]
        }
      },
      "id": "9b72a3c2-ad62-49d8-ac33-4dd17f2d3981",
      "name": "Supabase Inventory Query",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        928,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "M4CPausskE6LHCyA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "https://httpbin.org/json",
        "url": "=https://httpbin.org/json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "decision_note",
              "value": "Shipping rates calculated successfully via fallback API."
            },
            {
              "name": "handoff_target",
              "value": "Customer Support Agent"
            }
          ]
        },
        "options": {}
      },
      "id": "3efa2d62-858e-4932-9da4-5c54575af76a",
      "name": "Shipping Rate Calculator",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1056,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stock_available",
              "name": "stockAvailable",
              "value": "={{ JSON.parse($json.output).stockAvailable }}",
              "type": "boolean"
            },
            {
              "id": "quantity",
              "name": "quantity",
              "value": "={{ JSON.parse($json.output).quantity }}",
              "type": "number"
            },
            {
              "id": "shipping_cost",
              "name": "shippingCost",
              "value": "={{ JSON.parse($json.output).shippingCost }}",
              "type": "number"
            },
            {
              "id": "tax_estimate",
              "name": "taxEstimate",
              "value": "={{ JSON.parse($json.output).taxEstimate }}",
              "type": "number"
            },
            {
              "id": "total_price",
              "name": "totalPrice",
              "value": "={{ JSON.parse($json.output).totalPrice }}",
              "type": "number"
            },
            {
              "id": "estimated_delivery",
              "name": "estimatedDelivery",
              "value": "={{ JSON.parse($json.output).estimatedDelivery }}",
              "type": "string"
            },
            {
              "id": "product_id_pass",
              "name": "productId",
              "value": "={{ $('Extract Sales Data').item.json.productId }}",
              "type": "string"
            },
            {
              "id": "product_name_pass",
              "name": "productName",
              "value": "={{ $('Extract Sales Data').item.json.productName }}",
              "type": "string"
            },
            {
              "id": "payment_token_pass",
              "name": "paymentToken",
              "value": "={{ $('Extract Sales Data').item.json.paymentToken }}",
              "type": "string"
            },
            {
              "id": "f287266d-a604-4881-ab1f-2007a9f2ed9f",
              "name": "decision_note",
              "value": "={{ JSON.parse($json.output).decision_note }}",
              "type": "string"
            },
            {
              "id": "09edcd4b-2b33-49da-91a9-9d0a2ecabfb0",
              "name": "handoff_target",
              "value": "={{ JSON.parse($json.output).handoff_target }}",
              "type": "string"
            },
            {
              "id": "d8c91bc3-be94-4b57-9b55-5a3c1a023711",
              "name": "sales_decision_note",
              "value": "={{ $('Extract Sales Data').item.json.decision_note }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7b0d1ca6-218d-4ba5-a65a-c24ae8979e9c",
      "name": "Extract Inventory Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Order: {{ $json.productId }} ({{ $json.productName }}), Total: ${{ $json.totalPrice }}, Payment: {{ $json.paymentToken }}",
        "options": {
          "systemMessage": "You are a razor-sharp cyber-security enterprise agent built to detect fraud and secure digital transactions.\n\nYou have access to:\n- Fraud Risk Score API: Analyze payment security and transaction risk\n- Supabase Order Writer: Commit approved orders to database\n- Crypto Signature Verifier: Generate encrypted tracking numbers\n\nYour task:\n1. Verify payment token security using Fraud Risk Score API\n2. If risk score is acceptable (< 50), generate tracking number using Crypto Signature Verifier\n3. Write the order to Supabase (table \"orders\" with fields: product_id, total_price, status=\"confirmed\", tracking_number)\n4. Return final confirmation\n\nReturn ONLY a JSON object:\n{\n  \"orderConfirmed\": true,\n  \"riskScore\": 12,\n  \"trackingNumber\": \"AETH-1234567890-ABC123\",\n  \"orderStatus\": \"confirmed\",\n  \"message\": \"Order secured and confirmed\",\n  \"decision_note\": \"Transaction security verified. Anti-fraud check cleared with zero risks, order committed to Supabase, and crypto tracking signature generated.\",\n  \"handoff_target\": \"Client Payment Gateway\"\n}\n\nDo NOT return anything else."
        }
      },
      "id": "305f1e78-24a0-4501-8343-035eb59ba1a0",
      "name": "Security & Fraud Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "e9fb4137-01e8-4ad6-bedc-81e4f29c98e7",
      "name": "Fraud Risk Score API",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1488,
        224
      ]
    },
    {
      "parameters": {
        "tableId": "orders_v2",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "product_code",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', `First field value`, 'string') }}"
            },
            {
              "fieldId": "order_price",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "order_status",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "id": "06c79c9d-42aa-4206-90c8-a8b89c43efe0",
      "name": "Supabase Order Writer",
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        1616,
        224
      ],
      "credentials": {
        "supabaseApi": {
          "id": "M4CPausskE6LHCyA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Generates encrypted tracking numbers and verifies payment signatures for secure transactions",
        "jsCode": "// Generate secure tracking number\nconst crypto = require('crypto');\nconst timestamp = Date.now();\nconst randomBytes = crypto.randomBytes(8).toString('hex');\nconst trackingNumber = 'AETH-' + timestamp + '-' + randomBytes.toUpperCase();\n\nreturn JSON.stringify({\n  trackingNumber: trackingNumber,\n  signature: crypto.createHash('sha256').update(trackingNumber).digest('hex').substring(0, 16),\n  verified: true\n});"
      },
      "id": "f6884490-9d1f-46bd-a061-69a1bf0103c5",
      "name": "Crypto Signature Verifier",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1744,
        224
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": {{ JSON.parse($json.output).orderConfirmed }},\n  \"orderStatus\": \"{{ JSON.parse($json.output).orderStatus }}\",\n  \"trackingNumber\": \"{{ JSON.parse($json.output).trackingNumber }}\",\n  \"timeline\": [\n    {\n      \"agent_name\": \"Sales & Personalization Agent\",\n      \"timestamp\": \"{{ new Date(new Date().getTime() - 4000).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' }) }}\",\n      \"decision_note\": \"{{ $('Extract Inventory Data').item.json.sales_decision_note || 'Customer profile analyzed and optimum product matched.' }}\",\n      \"status\": \"Completed\",\n      \"handoff_target\": \"Inventory & Logistics Agent\"\n    },\n    {\n      \"agent_name\": \"Inventory & Logistics Agent\",\n      \"timestamp\": \"{{ new Date(new Date().getTime() - 2000).toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' }) }}\",\n      \"decision_note\": \"{{ $('Extract Inventory Data').item.json.decision_note || 'Supabase inventory database checked and verified.' }}\",\n      \"status\": \"Completed\",\n      \"handoff_target\": \"Security & Fraud Agent\"\n    },\n    {\n      \"agent_name\": \"Security & Fraud Agent\",\n      \"timestamp\": \"{{ new Date().toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit' }) }}\",\n      \"decision_note\": \"{{ JSON.parse($json.output).decision_note || 'Cyber-security clearance approved with secure crypto tracking.' }}\",\n      \"status\": \"Completed\",\n      \"handoff_target\": \"Client Payment Gateway\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "8d0e10b6-ac1e-4a73-a698-400158b0b1dd",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1952,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "92f39802-971c-45e0-832b-2dae83cf917b",
      "name": "Send Response to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2176,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Order Request Webhook": {
      "main": [
        [
          {
            "node": "Sales & Personalization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales & Personalization Agent": {
      "main": [
        [
          {
            "node": "Extract Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-5": {
      "ai_languageModel": [
        [
          {
            "node": "Sales & Personalization Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Security & Fraud Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Inventory & Logistics Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product Catalog Reader": {
      "ai_tool": [
        [
          {
            "node": "Sales & Personalization Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User Chat History": {
      "ai_tool": [
        [
          {
            "node": "Sales & Personalization Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sales Data": {
      "main": [
        [
          {
            "node": "Inventory & Logistics Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inventory & Logistics Agent": {
      "main": [
        [
          {
            "node": "Extract Inventory Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Inventory Query": {
      "ai_tool": [
        [
          {
            "node": "Inventory & Logistics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shipping Rate Calculator": {
      "ai_tool": [
        [
          {
            "node": "Inventory & Logistics Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inventory Data": {
      "main": [
        [
          {
            "node": "Security & Fraud Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security & Fraud Agent": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Risk Score API": {
      "ai_tool": [
        [
          {
            "node": "Security & Fraud Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Order Writer": {
      "ai_tool": [
        [
          {
            "node": "Security & Fraud Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crypto Signature Verifier": {
      "ai_tool": [
        [
          {
            "node": "Security & Fraud Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Send Response to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "644e0510-df33-47af-9764-ec61e32c67f3",
  "meta": {
    "instanceId": "14a4a818ddccb19a33944f81d2e11677a4413ffc4d981641762973f41e052d04"
  },
  "id": "lL97PIybGdDNjHwK",
  "tags": []
}